<p>&ndash; Coming soon! &ndash;</p>
{{!-- <p>Galleries.</p>
<ul>
  {{#each model as |gallery|}}
    <li>
      {{#link-to 'gallery' gallery.slug}}
        {{#if gallery.featuredImage}}
          <img src={{gallery.featuredImage.thumbnailUrl}} style="height: 50px; width: 50px;">
        {{/if}}
        {{gallery.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul> --}}
