$color-left:  #C1B459;
$color-right: #406325;
$color-mix:   mix($color-left, $color-right);

$width-iphoneplus: 414px;

* {
  margin: 0;
  padding: 0;

  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: inherit;
}

:root {
  height: 100%;

  background-attachment: fixed;
  background-image:
    radial-gradient(farthest-corner, rgba(#000, 0) 50%, rgba(#000, 0.75) 125%),
    url('/background.jpg');
  background-position: center;
  background-size: cover;
  color: $color-mix;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 62.5%;
  line-height: 1;
  text-align: center;
}

h1,
nav,
main,
footer {
  display: block;
  margin: 20px 0;
}

main {
  padding: 20px 0;
}

h1 {
  height: 200px;

  background-image: url('/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  filter: drop-shadow(0 0 10px rgba(#8c6100, 0.75));

  font: 0/0 a;
}

h2 {
  display: inline-block;
  background-image: linear-gradient(to right, $color-left, $color-right);
  background-position: top left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2rem;
}

p {
  font-size: 1.8rem;
}

@media (max-width: $width-iphoneplus) {
  main {
    margin: 25px 0;
    padding: 0;
  }
  h1 {
    height: 150px;
    margin: 10px 0;
    background-size: 150px 150px;
  }
  h2 {
    font-size: 2.6rem;
  }
}

nav {

  filter: drop-shadow(0 0 10px rgba(#8c6100, 0.75));

  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 0;
  text-transform: lowercase;

  a {
    display: inline-block;
    color: rgba($color-mix, 0.5);
    font-size: 3.2rem;

    transition: color 200ms;

    &.active:not(.ember-transitioning-out),
    &.ember-transitioning-in {
      color: $color-left;
    }
  }

  a + a::before {
    content: '•';
    display: inline-block;
    margin: 0 20px;
    color: rgba($color-mix, 0.25);
  }
}

@media (max-width: $width-iphoneplus) {

  nav a {
    font-size: 2.6rem;
  }

  nav a + a::before {
    margin: 0 10px;
  }

}

footer {
  color: rgba($color-left, 0.25);
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 1.2rem;
  text-transform: uppercase;

  p {
    font-size: inherit;
  }

  a {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 20px 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    opacity: 0.25;

    font: 0/0 a;
  }

  .s-twitter  { background-image: url('/s-twitter.svg'); }
  .s-facebook { background-image: url('/s-facebook.svg'); }
}

.gallery-list {

  min-height: 118px;
  padding: 0 10px;

  li {
    display: inline-block;
    margin: 20px 10px;
  }

  a {
    display: block;
  }

  .thumbnail {
    height: 72px;
    width: 72px;

    color: $color-left;
    background-color: currentColor;
    border: 2px solid currentColor;
    border-radius: 100%;
  }

}

.thumbnail-list {

  margin: 0 auto;
  max-width: 375px;
  width: 100%;

  filter: drop-shadow(0 0 5px rgba(#8c6100, 0.5));

  font-size: 3.2rem;

  li {
    display: block;
    margin: 20px 0;

    .details {

      color: mix(#406325, #AA962E);

    }

    &:nth-of-type(2n - 1) a {
      flex-direction: row;

      img {
        background-color: $color-left;
        border-color: $color-left;
      }

      span {
        text-align: left;
      }
    }

    &:nth-of-type(2n) a {
      flex-direction: row-reverse;

      img {
        background-color: $color-right;
        border-color: $color-right;
      }

      span {
        text-align: right;
      }
    }
  }

  a {
    display: flex;
    align-items: center;



    color: $color-mix;

    img {
      margin: 0 10px;
    }

  }

  .thumbnail {
    height: 72px;
    width: 72px;

    border: 2px solid #fff;
    border-radius: 100%;
  }

  span {
    display: block;
  }

  .details {

  }

  .title {
    background-image: linear-gradient(to right, $color-left, $color-right);
    background-position: top left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-size: 1.8rem;
    opacity: 0.5;
  }

}

@media (max-width: $width-iphoneplus) {

  .thumbnail-list {

    font-size: 2.6rem;

    .thumbnail {
      height: 50px;
      width: 50px;
    }

  }

}

.loader {
  height: 22px;
  width: 22px;
  margin: 20px;

  animation: spin 1.0s linear infinite;
  opacity: 0.5;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.lightbox {

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(#222620, 0.75);

  .zoomed {
    height: 100%;
    width: 100%;
    max-height: 90vh;
    max-width: 90vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

}
