<h1>Noble Trees</h1>
<nav>
  {{#link-to 'artists'}}Artists{{/link-to}}
  {{#link-to 'index'}}Our Work{{/link-to}}
  {{#link-to 'shows'}}Shows{{/link-to}}
</nav>
<main>{{outlet}}</main>
<footer>
  Copyright &copy; Noble Trees
</footer>
