<h1>Noble Trees</h1>
<nav>
  {{#link-to 'artists'}}Artists{{/link-to}}
  {{#link-to 'galleries'}}Our Work{{/link-to}}
  {{#link-to 'shows'}}Shows{{/link-to}}
</nav>
<main>{{outlet}}</main>
<footer>
  <a class="s-twitter" href="https://twitter.com/noble_trees" target="_blank">Follow us on Twitter</a>
  <a class="s-facebook" href="https://www.facebook.com/Noble-Trees-208775936207433/" target="_blank">Like us on Facebook</a>
  <p>Copyright &copy; Noble Trees</p>
</footer>
