{{#link-to 'gallery' class='lightbox' style=zoomStyle}}
  <div class="zoomed" style={{zoomStyle}}></div>
  {{!-- <img src={{model.media_details.sizes.full.source_url}} style="height: 150px; width: 150px;"> --}}
{{/link-to}}
